.navBar {
  background-color: $thirdColor;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 15vh;
  z-index: 2;
  .navMenu {
    min-width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    .navItem {
      padding: 10px;

      .navLink {
        color: $primaryColor;
        text-decoration: none;
        transition: all 0.3s ease;
      }
      .navLink:hover {
        color: $forthColor;
        text-decoration: none;
      }
    }
  }
}
.hamburger {
  display: none;
  cursor: pointer;
  .hamburgerBar {
    display: block;
    background-color: black;
    width: 25px;
    height: 3px;
    margin: 5px auto;
  }
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .hamburgerBar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .hamburgerBar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .hamburgerBar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navMenu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: $thirdColor;
    width: 100%;
    text-align: center;
    z-index: 2;
  }

  .navItem {
    margin: 16px 0;
  }

  .navMenu.active {
    left: 0;
  }
}
