@import "mixins";
@import "variables";
@import "hamburger";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  @include box-sizing;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color:rgb(250 234 215);;
}

section,
header {
  height: 100vh;
}



section{
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  
}
section.in-view {
  opacity: 1;
}



h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.quote {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(../images/clouds-284688_1280.jpg);
  // background-color: rgb(50, 49, 49);
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  text-align: center;
  &__btn {
    width: 15rem;
    height: 5rem;
    padding: 2rem;
    background-color:$forthColor;
    border-radius: 3rem;
    border: none;
    color: $primaryColor;
    text-align: center;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    transition: all 0.3s ease;
  }
  &__btn:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.weather__section {
  display: flex;
}
#weatherReport {
  background-color: lightblue;
  height: 100vh;
  width: 50vw;
}
#dogImg {
  background-color: antiquewhite;
  height: 100vh;
  width: 50vw;
}
.head {
  position: relative;
  min-height: 80vh;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(45, 42, 109);
}

.custom-shape-divider-bottom-1702397406 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1702397406 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 184px;
}

.custom-shape-divider-bottom-1702397406 .shape-fill {
  fill: #ffffff;
}

/* DOG GENERATOR CONTAINER */
#dogGenerator {
  padding-top: 50px;
  text-align: center;
  background-color: antiquewhite;

  #diceWrapper {
    margin: 50px 0 10px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    #dogText {
      font-size: 1.5rem;
      margin-top: 30px;
    }

    #generateButton {
      width: 10rem;
      height: 5rem;
      margin-left: 1rem;
      padding: 1rem;
      background-color: lightblue;
      border-radius: 3rem;
      border: none;

      &:hover {
        cursor: pointer;
      }

      #diceImg:hover {
        animation: rollDice 4s ease 0s infinite normal forwards;
      }
    }
  }
}

.dogImage {
  height: 125px;
  border-radius: 10px;
  margin: 10px;
  transition: 0.3s;

  &:hover {
    box-shadow: rgb(81, 51, 15) 0px 0px 10px 1px;
    transition: 0.5s;
    transform: scale(1.8);
  }
}

@keyframes rollDice {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-20px) rotate(-60deg);
  }
  30% {
    transform: translateX(15px) rotate(60deg);
  }
  45% {
    transform: translateX(-20px) rotate(-60deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(0px) rotate(0deg);
  }
}

/* MEDIAQUERY */
@media (max-width: 768px) {
  #diceWrapper {
    margin: 100px 0 10px 0;
  }

  #dogText {
    font-size: 1rem !important;
    margin: 15px 0 !important;
  }

  #generateButton {
    width: 5rem !important;
    height: 3rem !important;
    padding: 0.5rem !important;

    #diceImg {
      width: 30px;
    }
  }

  .dogImage {
    height: 70px;
    border-radius: 10px;
    margin: 10px;
  }
}
