*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.weather__section{
    display: flex;
}
#weatherReport{
    background-color: lightblue;
    height: 100vh;
    width: 50vw;
}
#dogImg{
    background-color: antiquewhite;
    height: 100vh;
    width: 50vw;
}
.head{
    position: relative;
    min-height: 50vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(45, 42, 109);
}

.custom-shape-divider-bottom-1702397406 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1702397406 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 184px;
}

.custom-shape-divider-bottom-1702397406 .shape-fill {
    fill: #ffffff;
}